// LIBRARIES
//$fa-font-path: '../../vendor/bower/font-awesome/fonts';
//@import '../../vendor/bower/font-awesome/scss/font-awesome';


@import 'bourbon';
//@import 'mixin';


$fa-font-path: '/fonts';
@import 'vendor/bower/font-awesome/scss/font-awesome';


// Red
$main_color: #ce302b;
$hover_color: #b51f1c;

// Blue
//$main_color: #144EA1;
//$hover_color: #2d69bc;

//@import 'theme/variables';
//@import 'theme/mixins';
@import 'theme/global';
