//@import  "http://fonts.googleapis.com/css?family=Enriqueta:400,700";

.alert {
  padding: 15px;
  border-radius: 0
}

.alert .alert-link {
  font-weight: 700
}

.alert-dismissable {
  padding-right: 35px
}

.alert-dismissable .close,.alert-dismissable .close:hover,.alert-dismissable .close:focus {
  color: inherit
}

.label {
  color: #fff
}

.label[href]:hover,.label[href]:focus {
  color: #fff
}

body {
  padding-top: 0;
  color: #454c54;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased
}

body a {
  color: $main_color
}

body a:hover,body a:focus {
  color: #107360
}

.countdown {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center
}

.date-digit,.date-text {
  display: block;
  margin: 0 10px
}

.date-digit {
  font-size: 4em;
  font-weight: 700
}

.wrapper-xs {
  padding: 1em 0
}

.wrapper-sm {
  padding: 2em 0
}

.wrapper-md {
  padding: 5em 0
}

.wrapper-lg {
  padding: 16em 0
}

.bg-highlight {
  background: #e8e8e8;
  color: #454c54
}

.bg-highlight h1,.bg-highlight .h1,.bg-highlight h2,.bg-highlight .h2,.bg-highlight h3,.bg-highlight .h3,.bg-highlight h4,.bg-highlight .h4,.bg-highlight h5,.bg-highlight .h5,.bg-highlight h6,.bg-highlight .h6 {
  color: #2f353e
}

.bg-highlight h1.headline:after,.bg-highlight .h1.headline:after,.bg-highlight h2.headline:after,.bg-highlight .h2.headline:after,.bg-highlight h3.headline:after,.bg-highlight .h3.headline:after,.bg-highlight h4.headline:after,.bg-highlight .h4.headline:after,.bg-highlight h5.headline:after,.bg-highlight .h5.headline:after,.bg-highlight h6.headline:after,.bg-highlight .h6.headline:after {
  background: #2f353e
}

.bg-highlight hr {
  border-top-color: #dbdbdb;
  -webkit-box-shadow: 0 1px 2px #f5f5f5;
  -moz-box-shadow: 0 1px 2px #f5f5f5;
  box-shadow: 0 1px 2px #f5f5f5
}

.bg-primary {
  background: $main_color;
  color: #fff
}

.bg-primary h1,.bg-primary .h1,.bg-primary h2,.bg-primary .h2,.bg-primary h3,.bg-primary .h3,.bg-primary h4,.bg-primary .h4,.bg-primary h5,.bg-primary .h5,.bg-primary h6,.bg-primary .h6 {
  color: #fff
}

.bg-primary h1.headline:after,.bg-primary .h1.headline:after,.bg-primary h2.headline:after,.bg-primary .h2.headline:after,.bg-primary h3.headline:after,.bg-primary .h3.headline:after,.bg-primary h4.headline:after,.bg-primary .h4.headline:after,.bg-primary h5.headline:after,.bg-primary .h5.headline:after,.bg-primary h6.headline:after,.bg-primary .h6.headline:after {
  background: #fff
}

.bg-primary hr {
  border-top-color: #138a72;
  -webkit-box-shadow: 0 1px 2px $hover_color;
  -moz-box-shadow: 0 1px 2px $hover_color;
  box-shadow: 0 1px 2px $hover_color
}

.bg-secondary {
  background: #333;
  color: #fff
}

.bg-secondary h1,.bg-secondary .h1,.bg-secondary h2,.bg-secondary .h2,.bg-secondary h3,.bg-secondary .h3,.bg-secondary h4,.bg-secondary .h4,.bg-secondary h5,.bg-secondary .h5,.bg-secondary h6,.bg-secondary .h6 {
  color: #fff
}

.bg-secondary h1.headline:after,.bg-secondary .h1.headline:after,.bg-secondary h2.headline:after,.bg-secondary .h2.headline:after,.bg-secondary h3.headline:after,.bg-secondary .h3.headline:after,.bg-secondary h4.headline:after,.bg-secondary .h4.headline:after,.bg-secondary h5.headline:after,.bg-secondary .h5.headline:after,.bg-secondary h6.headline:after,.bg-secondary .h6.headline:after {
  background: #fff
}

.bg-secondary hr {
  border-top-color: #262626;
  -webkit-box-shadow: 0 1px 2px #404040;
  -moz-box-shadow: 0 1px 2px #404040;
  box-shadow: 0 1px 2px #404040
}

.bg-info {
  background: #37a0c2;
  color: #fff
}

.bg-info h1,.bg-info .h1,.bg-info h2,.bg-info .h2,.bg-info h3,.bg-info .h3,.bg-info h4,.bg-info .h4,.bg-info h5,.bg-info .h5,.bg-info h6,.bg-info .h6 {
  color: #fff
}

.bg-info h1.headline:after,.bg-info .h1.headline:after,.bg-info h2.headline:after,.bg-info .h2.headline:after,.bg-info h3.headline:after,.bg-info .h3.headline:after,.bg-info h4.headline:after,.bg-info .h4.headline:after,.bg-info h5.headline:after,.bg-info .h5.headline:after,.bg-info h6.headline:after,.bg-info .h6.headline:after {
  background: #fff
}

.bg-info hr {
  border-top-color: #3190ae;
  -webkit-box-shadow: 0 1px 2px #48abcb;
  -moz-box-shadow: 0 1px 2px #48abcb;
  box-shadow: 0 1px 2px #48abcb
}

.bg-warning {
  background: #ffbc46;
  color: #fff
}

.bg-warning h1,.bg-warning .h1,.bg-warning h2,.bg-warning .h2,.bg-warning h3,.bg-warning .h3,.bg-warning h4,.bg-warning .h4,.bg-warning h5,.bg-warning .h5,.bg-warning h6,.bg-warning .h6 {
  color: #fff
}

.bg-warning h1.headline:after,.bg-warning .h1.headline:after,.bg-warning h2.headline:after,.bg-warning .h2.headline:after,.bg-warning h3.headline:after,.bg-warning .h3.headline:after,.bg-warning h4.headline:after,.bg-warning .h4.headline:after,.bg-warning h5.headline:after,.bg-warning .h5.headline:after,.bg-warning h6.headline:after,.bg-warning .h6.headline:after {
  background: #fff
}

.bg-warning hr {
  border-top-color: #ffb32c;
  -webkit-box-shadow: 0 1px 2px #ffc560;
  -moz-box-shadow: 0 1px 2px #ffc560;
  box-shadow: 0 1px 2px #ffc560
}

.bg-success {
  background: #9bc23c;
  color: #fff
}

.bg-success h1,.bg-success .h1,.bg-success h2,.bg-success .h2,.bg-success h3,.bg-success .h3,.bg-success h4,.bg-success .h4,.bg-success h5,.bg-success .h5,.bg-success h6,.bg-success .h6 {
  color: #fff
}

.bg-success h1.headline:after,.bg-success .h1.headline:after,.bg-success h2.headline:after,.bg-success .h2.headline:after,.bg-success h3.headline:after,.bg-success .h3.headline:after,.bg-success h4.headline:after,.bg-success .h4.headline:after,.bg-success h5.headline:after,.bg-success .h5.headline:after,.bg-success h6.headline:after,.bg-success .h6.headline:after {
  background: #fff
}

.bg-success hr {
  border-top-color: #8baf36;
  -webkit-box-shadow: 0 1px 2px #a5c94f;
  -moz-box-shadow: 0 1px 2px #a5c94f;
  box-shadow: 0 1px 2px #a5c94f
}

.bg-danger {
  background: #c0392b;
  color: #fff
}

.bg-danger h1,.bg-danger .h1,.bg-danger h2,.bg-danger .h2,.bg-danger h3,.bg-danger .h3,.bg-danger h4,.bg-danger .h4,.bg-danger h5,.bg-danger .h5,.bg-danger h6,.bg-danger .h6 {
  color: #fff
}

.bg-danger h1.headline:after,.bg-danger .h1.headline:after,.bg-danger h2.headline:after,.bg-danger .h2.headline:after,.bg-danger h3.headline:after,.bg-danger .h3.headline:after,.bg-danger h4.headline:after,.bg-danger .h4.headline:after,.bg-danger h5.headline:after,.bg-danger .h5.headline:after,.bg-danger h6.headline:after,.bg-danger .h6.headline:after {
  background: #fff
}

.bg-danger hr {
  border-top-color: #ab3326;
  -webkit-box-shadow: 0 1px 2px #d14233;
  -moz-box-shadow: 0 1px 2px #d14233;
  box-shadow: 0 1px 2px #d14233
}

.bg-light {
  background: #fff;
  color: #454c54
}

.bg-light h1,.bg-light .h1,.bg-light h2,.bg-light .h2,.bg-light h3,.bg-light .h3,.bg-light h4,.bg-light .h4,.bg-light h5,.bg-light .h5,.bg-light h6,.bg-light .h6 {
  color: inherit
}

.bg-light h1.headline:after,.bg-light .h1.headline:after,.bg-light h2.headline:after,.bg-light .h2.headline:after,.bg-light h3.headline:after,.bg-light .h3.headline:after,.bg-light h4.headline:after,.bg-light .h4.headline:after,.bg-light h5.headline:after,.bg-light .h5.headline:after,.bg-light h6.headline:after,.bg-light .h6.headline:after {
  background: inherit
}

.bg-light hr {
  border-top-color: #f2f2f2;
  -webkit-box-shadow: 0 1px 2px #fff;
  -moz-box-shadow: 0 1px 2px #fff;
  box-shadow: 0 1px 2px #fff
}

.bg-dark {
  background: rgba(51,51,51,0.8);
  color: #fff
}

.bg-dark h1,.bg-dark .h1,.bg-dark h2,.bg-dark .h2,.bg-dark h3,.bg-dark .h3,.bg-dark h4,.bg-dark .h4,.bg-dark h5,.bg-dark .h5,.bg-dark h6,.bg-dark .h6 {
  color: #fff
}

.bg-dark h1.headline:after,.bg-dark .h1.headline:after,.bg-dark h2.headline:after,.bg-dark .h2.headline:after,.bg-dark h3.headline:after,.bg-dark .h3.headline:after,.bg-dark h4.headline:after,.bg-dark .h4.headline:after,.bg-dark h5.headline:after,.bg-dark .h5.headline:after,.bg-dark h6.headline:after,.bg-dark .h6.headline:after {
  background: #fff
}

.bg-dark hr {
  border-top-color: rgba(38,38,38,0.8);
  -webkit-box-shadow: 0 1px 2px rgba(64,64,64,0.8);
  -moz-box-shadow: 0 1px 2px rgba(64,64,64,0.8);
  box-shadow: 0 1px 2px rgba(64,64,64,0.8)
}

.bg-custom-home {
  background: url(/images/bg-custom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover
}

.label-container {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.5em
}

.no-margin-bottom {
  margin-bottom: 0!important
}

@media(min-width:992px) {
  .offset-top-xl {
    margin-top: -12em
  }
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: 1em
}

.padding-md {
  padding: 2em
}

.padding-lg {
  padding: 3em
}

.no-padding-bottom {
  padding-bottom: 0!important
}

.embed-wrapper {
  position: relative;
  padding-top: 30px;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden
}

.embed-wrapper iframe,.embed-wrapper object,.embed-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}



// OVERRIDE LESS NAVBAR
@media(min-width:320px) and (max-width: 374px) {
  h1.heading-lg {
    font-size: 46px !important;
  }
  .wrapper-lg {
    padding: 2em 0 !important;
  }
}

@media(min-width:375px) and (max-width: 413px) {
  .wrapper-lg {
    padding: 5em 0 !important;
  }
}

@media(min-width:414px) and (max-width: 767px) {
  .wrapper-lg {
    padding: 7em 0 !important;
  }
}

@media(max-width:767px) {
  .wrapper-lg {
    padding: 4em 0;
  }
  .table-responsive {
    border: 1px solid #b5b5b5
  }
}

@media (max-width: 912px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
// DONE



@media(min-width:768px) {
  .embed-wrapper.embed-sm {
    padding-bottom: 25%
  }

  .embed-wrapper.embed-lg {
    padding-bottom: 75%
  }

  .embed-wrapper.embed-square {
    padding-bottom: 100%
  }
}

.img-stream {
  margin-bottom: 0;
  padding: 0
}

.img-stream:before,.img-stream:after {
  content: " ";
  display: table
}

.img-stream:after {
  clear: both
}

.img-stream li {
  float: left;
  display: block;
  margin: 0 .4em .4em 0
}

.social-networks {
  padding-left: 0;
  margin-bottom: 0
}

.social-networks:before,.social-networks:after {
  content: " ";
  display: table
}

.social-networks:after {
  clear: both
}

.social-networks li {
  display: inline-block;
  float: right;
  margin: 0 .2em .5em 0
}

.text-center .social-networks li {
  float: none
}

.text-right .social-networks li {
  float: right
}

.social-networks li a {
  padding: 8px 10px;
  font-size: 18px;
  color: #fff
}

[class*="spacer"]:after {
  display: block;
  content: " "
}

.spacer-sm {
  margin-bottom: 10px;
  line-height: 10px
}

.spacer-md {
  margin-bottom: 20px;
  line-height: 20px
}

.spacer-lg {
  margin-bottom: 40px;
  line-height: 40px
}

.spacer-xl {
  margin-bottom: 80px;
  line-height: 80px
}

.fa-stack-1x,.fa-stack-2x {
  left: 0
}

.img-rounded {
  border-radius: 0
}

.img-thumbnail {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 0
}

.img-circle {
  border-radius: 50%
}

.img-rounded,.img-thumbnail,.img-circle {
  margin-bottom: 1em
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin-top: 0;
  color: #2f353e;
  font-family: Enriqueta,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: capitalize
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
  color: #454c54
}

h1.heading-lg,h2.heading-lg,h3.heading-lg,h4.heading-lg,h5.heading-lg,h6.heading-lg,.h1.heading-lg,.h2.heading-lg,.h3.heading-lg,.h4.heading-lg,.h5.heading-lg,.h6.heading-lg {
  font-size: 66px
}

h1.heading-md {
  font-size: 40px;
}

.heading-default,.heading-default h1,.heading-default h2,.heading-default h3,.heading-default h4,.heading-default h5,.heading-default h6,.heading-default .h1,.heading-default .h2,.heading-default .h3,.heading-default .h4,.heading-default .h5,.heading-default .h6 {
  color: #2f353e!important
}

.page-header {
  margin-top: 0;
  border-bottom: 1px solid #abb2ba
}

.headline {
  position: relative;
  margin-bottom: 1em
}

.headline:after {
  display: block;
  position: absolute;
  bottom: 0;
  content: " ";
  width: 2em;
  height: .15em;
  margin-bottom: -.5em;
  background: #2f353e;
  left: 0
}

.text-center .headline:after,.headline.text-center:after {
  left: 50%;
  margin-left: -1em
}

.text-right .headline:after,.headline.text-right:after {
  left: auto;
  right: 0
}

blockquote {
  position: relative;
  padding: 1.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

blockquote p {
  margin-bottom: 1em
}

blockquote .quote-author {
  display: block;
  float: left;
  margin-right: 1em;
  max-width: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.blockquote-default {
  color: #2f353e;
  border: 1px solid #8f8f8f;
  padding-left: 4em;
  background: #fff
}

.blockquote-default small {
  color: #2f353e
}

.blockquote-default:before {
  position: absolute;
  width: 28px;
  height: 28px;
  top: .4em;
  left: .4em;
  content: "“";
  font-size: 50px;
  line-height: 50px;
  color: inherit
}

.blockquote-primary {
  color: #fff;
  border: 1px solid #0d5d4d;
  padding-left: 4em;
  background: $main_color
}

.blockquote-primary small {
  color: #fff
}

.blockquote-primary:before {
  position: absolute;
  width: 28px;
  height: 28px;
  top: .4em;
  left: .4em;
  content: "“";
  font-size: 50px;
  line-height: 50px;
  color: inherit
}

.blockquote-secondary {
  color: #fff;
  border: 1px solid #0d0d0d;
  padding-left: 4em;
  background: #333
}

.blockquote-secondary small {
  color: #fff
}

.blockquote-secondary:before {
  position: absolute;
  width: 28px;
  height: 28px;
  top: .4em;
  left: .4em;
  content: "“";
  font-size: 50px;
  line-height: 50px;
  color: inherit
}

.text-default,[class*="bg-"] .text-default,.text-default a:not(.btn):not(:hover) {
  color: #454c54
}

.text-muted {
  color: #737f8c
}

.text-muted:hover {
  color: #454c54
}

.text-primary {
  color: $main_color
}

.text-primary:hover {
  color: #107360
}

.text-warning {
  color: #ffbc46
}

.text-warning:hover {
  color: #ffaa13
}

.text-danger {
  color: #c0392b
}

.text-danger:hover {
  color: #962d22
}

.text-success {
  color: #9bc23c
}

.text-success:hover {
  color: #7c9b30
}

.text-info {
  color: #37a0c2
}

.text-info:hover {
  color: #2c7f9a
}

.text-light {
  color: #fff
}

.text-light:hover {
  color: #e6e6e6
}

pre {
  padding: 20px;
  border: 1px solid #b5b5b5;
  font-size: 15px;
  background: #e8e8e8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: auto
}

pre,pre code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  word-break: normal;
  word-wrap: normal;
  white-space: pre
}

code {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

table {
  background-color: #fff
}

.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td {
  border-top: 1px solid #b5b5b5
}

.table thead>tr>th {
  border-bottom: 2px solid #b5b5b5
}

.table tbody+tbody {
  border-top: 2px solid #b5b5b5
}

.table .table {
  background-color: #fff
}

.table-bordered {
  border: 1px solid #b5b5b5
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td {
  border: 1px solid #b5b5b5
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #e8e8e8
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
  background-color: #dbdbdb
}

.table>thead>tr>td.active,.table>tbody>tr>td.active,.table>tfoot>tr>td.active,.table>thead>tr>th.active,.table>tbody>tr>th.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>tbody>tr.active>td,.table>tfoot>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr.active>th,.table>tfoot>tr.active>th {
  background-color: #dbdbdb
}

.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th {
  background-color: #9fd757;
  border-color: #93d242;
  color: #087830
}

.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td {
  background-color: #87cb30;
  border-color: #79b62b
}

.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th {
  background-color: #fcc8c8;
  border-color: #fbb0b0;
  color: #dc143c
}

.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td {
  background-color: #f99898;
  border-color: #f87f7f
}

.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th {
  background-color: #fbea86;
  border-color: #fae66d;
  color: #c50
}

.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td {
  background-color: #f9e155;
  border-color: #f9dd3c
}

.navbar {
  min-height: 1px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.navbar.navbar-static-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.navbar.navbar-fixed-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.navbar .navbar-nav>li>a {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  line-height: 35px;
  font-weight: 700
}

.navbar .navbar-toggle {
  margin-top: 18px
}

.navbar-default {
  background: #fff;
  border: 1px solid #e6e6e6
}

.navbar-default .navbar-nav>li>a {
  color: #454c54
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
  color: #393f46;
  background-color: #f2f2f2
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
  color: $main_color;
  background-color: #f2f2f2
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
  color: #393f46;
  background-color: #f2f2f2
}

.navbar-default .navbar-nav>.dropdown>a {
  color: #454c54
}

.navbar-default .navbar-nav>.dropdown>a .caret,.navbar-default .navbar-nav>.dropdown>a:hover .caret,.navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #393f46;
  border-bottom-color: #393f46
}

@media(max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #454c54
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #393f46;
    background: #f2f2f2
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: rgba(69,76,84,0.5)
  }

  .navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff
  }
}

.navbar-default .navbar-toggle {
  background-color: #f2f2f2;
  border: 1px solid transparent
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background-color: #fff
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc
}

.navbar-default .navbar-brand {
  color: #2f353e
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
  color: #24292f
}

.navbar-default .navbar-text {
  color: #454c54
}

.navbar-default .navbar-link {
  color: #5c6570
}

.navbar-default .navbar-link:hover,.navbar-default .navbar-link:focus {
  color: #000
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff
}

.navbar-inverse {
  background: #333;
  border: 1px solid #1a1a1a
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
  color: #fff;
  background-color: #262626
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
  color: $main_color;
  background-color: #262626
}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #262626
}

.navbar-inverse .navbar-nav>.dropdown>a {
  color: #fff
}

.navbar-inverse .navbar-nav>.dropdown>a .caret,.navbar-inverse .navbar-nav>.dropdown>a:hover .caret,.navbar-inverse .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff
}

@media(max-width:767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #454c54
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background: #262626
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: rgba(255,255,255,0.5)
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #1a1a1a;
    -webkit-box-shadow: 0 1px 0 #4d4d4d;
    -moz-box-shadow: 0 1px 0 #4d4d4d;
    box-shadow: 0 1px 0 #4d4d4d
  }
}

.navbar-inverse .navbar-toggle {
  background-color: #262626;
  border: 1px solid transparent
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
  background-color: #404040
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff
}

.navbar-inverse .navbar-brand {
  color: #fff
}

.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
  color: #eee
}

.navbar-inverse .navbar-text {
  color: #454c54
}

.navbar-inverse .navbar-link {
  color: #5c6570
}

.navbar-inverse .navbar-link:hover,.navbar-inverse .navbar-link:focus {
  color: #abb2ba
}

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
  border-color: #1a1a1a;
  -webkit-box-shadow: inset 0 1px 0 #4d4d4d,0 1px 0 #4d4d4d;
  -moz-box-shadow: inset 0 1px 0 #4d4d4d,0 1px 0 #4d4d4d;
  box-shadow: inset 0 1px 0 #4d4d4d,0 1px 0 #4d4d4d
}

.navbar-form {
  padding-top: 10px;
  padding-bottom: 10px
}

@media(min-width:1200px) {
  .navbar-default .navbar-collapse,.navbar-inverse .navbar-collapse,.navbar-default .navbar-form,.navbar-inverse .navbar-form {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
  }
}

.navbar-text {
  margin-top: 24px;
  margin-bottom: 24px
}

.navbar-btn {
  margin: 18px 0
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 0
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(51,51,51,0.2);
  -moz-box-shadow: 0 6px 12px rgba(51,51,51,0.2);
  box-shadow: 0 6px 12px rgba(51,51,51,0.2)
}

.dropdown-menu>li>a {
  color: #454c54
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
  color: #fff;
  background: $main_color
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus {
  color: rgba(69,76,84,0.5)
}

.dropdown-menu .divider {
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff
}

.dropdown-header {
  color: #454c54
}

.caret,.dropdown .caret,.btn-default .caret,.dropup .btn-default .caret {
  border-bottom-color: #fff
}

.btn-default .caret {
  border-top-color: #fff
}

.nav>li>a {
  font-weight: 700
}

.nav>li>a:hover,.nav>li>a:focus {
  color: $main_color;
  text-decoration: none;
  background-color: #dbdbdb
}

.nav.disabled>a {
  color: #38e4c2
}

.nav.disabled>a:hover,.nav.disabled>a:focus {
  text-decoration: none;
  background-color: transparent
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
  background-color: #dbdbdb;
  border-color: transparent
}

.nav .open>a .caret,.nav .open>a:hover .caret,.nav .open>a:focus .caret {
  border-top-color: $main_color;
  border-bottom-color: $main_color
}

.nav .caret {
  border-top-color: $main_color;
  border-bottom-color: $main_color
}

.nav a:hover .caret {
  border-top-color: $main_color;
  border-bottom-color: $main_color
}

.nav-tabs {
  border-bottom: 1px solid #b5b5b5
}

.nav-tabs>li>a {
  color: $main_color;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.nav-tabs>li>a:hover {
  border-color: transparent;
  border-bottom: 1px solid #b5b5b5;
  background: #dbdbdb
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
  color: #454c54;
  border: 1px solid #b5b5b5;
  border-bottom-color: #fff;
  background: #fff
}

.tab-content {
  padding: 20px;
  background: #fff;
  border: 1px solid #b5b5b5;
  border-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: $main_color
}

.nav-pills>li>a {
  color: $main_color;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.nav-pills>li>a:hover,.nav-pills>li>a:focus {
  color: $main_color;
  background: #dbdbdb
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: $main_color
}

.nav-pills>li.disabled>a,.nav-pills>li.disabled>a:hover,.nav-pills>li.disabled>a:focus {
  color: rgba(22,160,133,0.7);
  background: transparent
}

.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cecece;
  background-color: transparent
}

.breadcrumb>li+li:before {
  font-family: "Times New Roman",Times,serif;
  content: "\00BB \00a0";
  color: #8f98a3
}

.breadcrumb>.active {
  color: #454c54
}

.pagination>li {
  display: inline
}

.pagination>li:first-child>a,.pagination>li:first-child>a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.pagination>li:last-child>a,.pagination>li:last-child>a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.pagination>li>a,.pagination>li>span {
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #b5b5b5
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
  color: #fff;
  background-color: $main_color;
  border-color: $main_color
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
  color: #fff;
  background-color: $main_color;
  border-color: $main_color
}

.pagination>.disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
  color: #505962;
  background-color: #fff;
  border-color: #b5b5b5
}

.pager li>a,.pager li>span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #b5b5b5;
  background-color: #fff
}

.pager li>a:hover,.pager li>a:focus {
  color: #fff;
  background-color: $main_color;
  border-color: $main_color
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
  color: #505962;
  background-color: #fff
}

.label-default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #676e76
}

.label-default[href]:hover,.label-default[href]:focus {
  background-color: #4f555b
}

.label-primary {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: $main_color
}

.label-primary[href]:hover,.label-primary[href]:focus {
  background-color: #107360
}

.label-success {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #9bc23c
}

.label-success[href]:hover,.label-success[href]:focus {
  background-color: #7c9b30
}

.label-info {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #37a0c2
}

.label-info[href]:hover,.label-info[href]:focus {
  background-color: #2c7f9a
}

.label-warning {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #ffbc46
}

.label-warning[href]:hover,.label-warning[href]:focus {
  background-color: #ffaa13
}

.label-danger {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #c0392b
}

.label-danger[href]:hover,.label-danger[href]:focus {
  background-color: #962d22
}

.badge {
  color: #fff;
  background-color: #676e76;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

a .badge:hover,a .badge:focus {
  color: #fff
}

a.list-group-item.active>.badge,.nav-pills>.active>a>.badge {
  color: $main_color;
  background-color: #fff
}

.jumbotron {
  color: inherit;
  background-color: #e8e8e8
}

.jumbotron,.container .jumbotron {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.jumbotron h1 {
  color: #2f353e
}

.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn {
  border-radius: 0
}

.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn {
  border-radius: 0
}

.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.input-group-addon {
  background-color: #e8e8e8;
  border: 1px solid #b5b5b5;
  border-radius: 0
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
  width: 100%
}

.carousel {
  margin-bottom: 2em
}

.carousel-caption h1,.carousel-caption .h1,.carousel-caption h2,.carousel-caption .h2,.carousel-caption h3,.carousel-caption .h3,.carousel-caption h4,.carousel-caption .h4,.carousel-caption h5,.carousel-caption .h5,.carousel-caption h6,.carousel-caption .h6 {
  color: #fff
}

@media screen and (min-width:768px) {
  .carousel-caption {
    right: 5%;
    left: 5%;
    padding-bottom: auto;
    top: 25%
  }
}

.carousel-control {
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  opacity: 1;
  filter: alpha(opacity=100)
}

.carousel-control.right,.carousel-control.left {
  background: rgba(0,0,0,0.2)
}

.carousel-control>span {
  margin-top: -.5em
}

.carousel-control .glyphicon-chevron-left {
  left: .5em
}

.carousel-control .glyphicon-chevron-right {
  right: .5em
}

.btn {
  font-weight: 700;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.btn-link {
  color: $main_color
}

.btn-link:hover,.btn-link:focus {
  color: $hover_color;
}

.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
  color: $main_color
}

.btn-default {
  color: #fff;
  background-color: #333;
  border-color: #333;
  text-shadow: 0 -1px 0 #1a1a1a
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #404040;
  border-color: #404040
}

.btn-group-vertical>.btn-default:first-child:not(:last-child),.btn-group-vertical>.btn-default:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-default,.btn-group-vertical>.btn-default:first-child:not(:last-child):hover,.btn-group-vertical>.btn-default:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-default:hover,.btn-group-vertical>.btn-default:first-child:not(:last-child):focus,.btn-group-vertical>.btn-default:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-default:focus,.btn-group-vertical>.btn-default:first-child:not(:last-child):active,.btn-group-vertical>.btn-default:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-default:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-default,.input-group-btn .btn-default,.input-group-btn.open .btn-default,.input-group-btn .open .dropdown-toggle.btn-default {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #333;
  border-color: #333
}

.btn-primary {
  color: #fff;
  background-color: $main_color;
  border-color: $main_color;
  text-shadow: 0 -1px 0 #107360
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: $hover_color;
  border-color: $main_color;
}

.btn-group-vertical>.btn-primary:first-child:not(:last-child),.btn-group-vertical>.btn-primary:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-primary,.btn-group-vertical>.btn-primary:first-child:not(:last-child):hover,.btn-group-vertical>.btn-primary:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-primary:hover,.btn-group-vertical>.btn-primary:first-child:not(:last-child):focus,.btn-group-vertical>.btn-primary:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-primary:focus,.btn-group-vertical>.btn-primary:first-child:not(:last-child):active,.btn-group-vertical>.btn-primary:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-primary:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-primary,.input-group-btn .btn-primary,.input-group-btn.open .btn-primary,.input-group-btn .open .dropdown-toggle.btn-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color: $main_color;
  border-color: $main_color
}

.btn-success {
  color: #fff;
  background-color: #9bc23c;
  border-color: #9bc23c;
  text-shadow: 0 -1px 0 #7c9b30
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #a5c94f;
  border-color: #a5c94f
}

.btn-group-vertical>.btn-success:first-child:not(:last-child),.btn-group-vertical>.btn-success:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-success,.btn-group-vertical>.btn-success:first-child:not(:last-child):hover,.btn-group-vertical>.btn-success:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-success:hover,.btn-group-vertical>.btn-success:first-child:not(:last-child):focus,.btn-group-vertical>.btn-success:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-success:focus,.btn-group-vertical>.btn-success:first-child:not(:last-child):active,.btn-group-vertical>.btn-success:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-success:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-success,.input-group-btn .btn-success,.input-group-btn.open .btn-success,.input-group-btn .open .dropdown-toggle.btn-success {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
  background-color: #9bc23c;
  border-color: #9bc23c
}

.btn-info {
  color: #fff;
  background-color: #37a0c2;
  border-color: #37a0c2;
  text-shadow: 0 -1px 0 #2c7f9a
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #48abcb;
  border-color: #48abcb
}

.btn-group-vertical>.btn-info:first-child:not(:last-child),.btn-group-vertical>.btn-info:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-info,.btn-group-vertical>.btn-info:first-child:not(:last-child):hover,.btn-group-vertical>.btn-info:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-info:hover,.btn-group-vertical>.btn-info:first-child:not(:last-child):focus,.btn-group-vertical>.btn-info:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-info:focus,.btn-group-vertical>.btn-info:first-child:not(:last-child):active,.btn-group-vertical>.btn-info:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-info:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-info,.input-group-btn .btn-info,.input-group-btn.open .btn-info,.input-group-btn .open .dropdown-toggle.btn-info {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
  background-color: #37a0c2;
  border-color: #37a0c2
}

.btn-warning {
  color: #fff;
  background-color: #ffbc46;
  border-color: #ffbc46;
  text-shadow: 0 -1px 0 #ffaa13
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ffc560;
  border-color: #ffc560
}

.btn-group-vertical>.btn-warning:first-child:not(:last-child),.btn-group-vertical>.btn-warning:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-warning,.btn-group-vertical>.btn-warning:first-child:not(:last-child):hover,.btn-group-vertical>.btn-warning:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-warning:hover,.btn-group-vertical>.btn-warning:first-child:not(:last-child):focus,.btn-group-vertical>.btn-warning:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-warning:focus,.btn-group-vertical>.btn-warning:first-child:not(:last-child):active,.btn-group-vertical>.btn-warning:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-warning:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-warning,.input-group-btn .btn-warning,.input-group-btn.open .btn-warning,.input-group-btn .open .dropdown-toggle.btn-warning {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
  background-color: #ffbc46;
  border-color: #ffbc46
}

.btn-danger {
  color: #fff;
  background-color: #c0392b;
  border-color: #c0392b;
  text-shadow: 0 -1px 0 #962d22
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d14233;
  border-color: #d14233
}

.btn-group-vertical>.btn-danger:first-child:not(:last-child),.btn-group-vertical>.btn-danger:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-danger,.btn-group-vertical>.btn-danger:first-child:not(:last-child):hover,.btn-group-vertical>.btn-danger:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-danger:hover,.btn-group-vertical>.btn-danger:first-child:not(:last-child):focus,.btn-group-vertical>.btn-danger:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-danger:focus,.btn-group-vertical>.btn-danger:first-child:not(:last-child):active,.btn-group-vertical>.btn-danger:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-danger:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-danger,.input-group-btn .btn-danger,.input-group-btn.open .btn-danger,.input-group-btn .open .dropdown-toggle.btn-danger {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
  background-color: #c0392b;
  border-color: #c0392b
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  text-shadow: 0 -1px 0 #2d4373
}

.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #4264aa;
  border-color: #4264aa
}

.btn-group-vertical>.btn-facebook:first-child:not(:last-child),.btn-group-vertical>.btn-facebook:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-facebook,.btn-group-vertical>.btn-facebook:first-child:not(:last-child):hover,.btn-group-vertical>.btn-facebook:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-facebook:hover,.btn-group-vertical>.btn-facebook:first-child:not(:last-child):focus,.btn-group-vertical>.btn-facebook:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-facebook:focus,.btn-group-vertical>.btn-facebook:first-child:not(:last-child):active,.btn-group-vertical>.btn-facebook:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-facebook:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-facebook,.input-group-btn .btn-facebook,.input-group-btn.open .btn-facebook,.input-group-btn .open .dropdown-toggle.btn-facebook {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee;
  text-shadow: 0 -1px 0 #2795e9
}

.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #6cb7f0;
  border-color: #6cb7f0
}

.btn-group-vertical>.btn-twitter:first-child:not(:last-child),.btn-group-vertical>.btn-twitter:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-twitter,.btn-group-vertical>.btn-twitter:first-child:not(:last-child):hover,.btn-group-vertical>.btn-twitter:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-twitter:hover,.btn-group-vertical>.btn-twitter:first-child:not(:last-child):focus,.btn-group-vertical>.btn-twitter:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-twitter:focus,.btn-group-vertical>.btn-twitter:first-child:not(:last-child):active,.btn-group-vertical>.btn-twitter:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-twitter:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-twitter,.input-group-btn .btn-twitter,.input-group-btn.open .btn-twitter,.input-group-btn .open .dropdown-toggle.btn-twitter {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #55acee
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #dd4b39;
  text-shadow: 0 -1px 0 #c23321
}

.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus {
  color: #fff;
  background-color: #e15f4f;
  border-color: #e15f4f
}

.btn-group-vertical>.btn-google-plus:first-child:not(:last-child),.btn-group-vertical>.btn-google-plus:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-google-plus,.btn-group-vertical>.btn-google-plus:first-child:not(:last-child):hover,.btn-group-vertical>.btn-google-plus:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-google-plus:hover,.btn-group-vertical>.btn-google-plus:first-child:not(:last-child):focus,.btn-group-vertical>.btn-google-plus:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-google-plus:focus,.btn-group-vertical>.btn-google-plus:first-child:not(:last-child):active,.btn-group-vertical>.btn-google-plus:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-google-plus:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-google-plus,.input-group-btn .btn-google-plus,.input-group-btn.open .btn-google-plus,.input-group-btn .open .dropdown-toggle.btn-google-plus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active {
  background-color: #dd4b39;
  border-color: #dd4b39
}

.btn-pinterest {
  color: #fff;
  background-color: #cb2027;
  border-color: #cb2027;
  text-shadow: 0 -1px 0 #9f191f
}

.btn-pinterest:hover,.btn-pinterest:focus,.btn-pinterest:active,.btn-pinterest.active,.open .dropdown-toggle.btn-pinterest {
  color: #fff;
  background-color: #dd272f;
  border-color: #dd272f
}

.btn-group-vertical>.btn-pinterest:first-child:not(:last-child),.btn-group-vertical>.btn-pinterest:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-pinterest,.btn-group-vertical>.btn-pinterest:first-child:not(:last-child):hover,.btn-group-vertical>.btn-pinterest:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-pinterest:hover,.btn-group-vertical>.btn-pinterest:first-child:not(:last-child):focus,.btn-group-vertical>.btn-pinterest:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-pinterest:focus,.btn-group-vertical>.btn-pinterest:first-child:not(:last-child):active,.btn-group-vertical>.btn-pinterest:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-pinterest:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-pinterest,.input-group-btn .btn-pinterest,.input-group-btn.open .btn-pinterest,.input-group-btn .open .dropdown-toggle.btn-pinterest {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-pinterest.disabled,.btn-pinterest[disabled],fieldset[disabled] .btn-pinterest,.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled:active,.btn-pinterest[disabled]:active,fieldset[disabled] .btn-pinterest:active,.btn-pinterest.disabled.active,.btn-pinterest[disabled].active,fieldset[disabled] .btn-pinterest.active {
  background-color: #cb2027;
  border-color: #cb2027
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border-color: #007bb6;
  text-shadow: 0 -1px 0 #005983
}

.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin {
  color: #fff;
  background-color: #008cd0;
  border-color: #008cd0
}

.btn-group-vertical>.btn-linkedin:first-child:not(:last-child),.btn-group-vertical>.btn-linkedin:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-linkedin,.btn-group-vertical>.btn-linkedin:first-child:not(:last-child):hover,.btn-group-vertical>.btn-linkedin:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-linkedin:hover,.btn-group-vertical>.btn-linkedin:first-child:not(:last-child):focus,.btn-group-vertical>.btn-linkedin:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-linkedin:focus,.btn-group-vertical>.btn-linkedin:first-child:not(:last-child):active,.btn-group-vertical>.btn-linkedin:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-linkedin:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-linkedin,.input-group-btn .btn-linkedin,.input-group-btn.open .btn-linkedin,.input-group-btn .open .dropdown-toggle.btn-linkedin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active {
  background-color: #007bb6;
  border-color: #007bb6
}

.btn-youtube {
  color: #fff;
  background-color: #b00;
  border-color: #b00;
  text-shadow: 0 -1px 0 #800
}

.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open .dropdown-toggle.btn-youtube {
  color: #fff;
  background-color: #d40000;
  border-color: #d40000
}

.btn-group-vertical>.btn-youtube:first-child:not(:last-child),.btn-group-vertical>.btn-youtube:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-youtube,.btn-group-vertical>.btn-youtube:first-child:not(:last-child):hover,.btn-group-vertical>.btn-youtube:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-youtube:hover,.btn-group-vertical>.btn-youtube:first-child:not(:last-child):focus,.btn-group-vertical>.btn-youtube:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-youtube:focus,.btn-group-vertical>.btn-youtube:first-child:not(:last-child):active,.btn-group-vertical>.btn-youtube:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-youtube:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-youtube,.input-group-btn .btn-youtube,.input-group-btn.open .btn-youtube,.input-group-btn .open .dropdown-toggle.btn-youtube {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active {
  background-color: #b00;
  border-color: #b00
}

.btn-vimeo {
  color: #fff;
  background-color: #1ab7ea;
  border-color: #1ab7ea;
  text-shadow: 0 -1px 0 #1295bf
}

.btn-vimeo:hover,.btn-vimeo:focus,.btn-vimeo:active,.btn-vimeo.active,.open .dropdown-toggle.btn-vimeo {
  color: #fff;
  background-color: #31beec;
  border-color: #31beec
}

.btn-group-vertical>.btn-vimeo:first-child:not(:last-child),.btn-group-vertical>.btn-vimeo:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vimeo,.btn-group-vertical>.btn-vimeo:first-child:not(:last-child):hover,.btn-group-vertical>.btn-vimeo:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vimeo:hover,.btn-group-vertical>.btn-vimeo:first-child:not(:last-child):focus,.btn-group-vertical>.btn-vimeo:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vimeo:focus,.btn-group-vertical>.btn-vimeo:first-child:not(:last-child):active,.btn-group-vertical>.btn-vimeo:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vimeo:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-vimeo,.input-group-btn .btn-vimeo,.input-group-btn.open .btn-vimeo,.input-group-btn .open .dropdown-toggle.btn-vimeo {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-vimeo.disabled,.btn-vimeo[disabled],fieldset[disabled] .btn-vimeo,.btn-vimeo.disabled:hover,.btn-vimeo[disabled]:hover,fieldset[disabled] .btn-vimeo:hover,.btn-vimeo.disabled:focus,.btn-vimeo[disabled]:focus,fieldset[disabled] .btn-vimeo:focus,.btn-vimeo.disabled:active,.btn-vimeo[disabled]:active,fieldset[disabled] .btn-vimeo:active,.btn-vimeo.disabled.active,.btn-vimeo[disabled].active,fieldset[disabled] .btn-vimeo.active {
  background-color: #1ab7ea;
  border-color: #1ab7ea
}

.btn-tumblr {
  color: #fff;
  background-color: #32506d;
  border-color: #32506d;
  text-shadow: 0 -1px 0 #22364a
}

.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr {
  color: #fff;
  background-color: #3a5d7e;
  border-color: #3a5d7e
}

.btn-group-vertical>.btn-tumblr:first-child:not(:last-child),.btn-group-vertical>.btn-tumblr:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-tumblr,.btn-group-vertical>.btn-tumblr:first-child:not(:last-child):hover,.btn-group-vertical>.btn-tumblr:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-tumblr:hover,.btn-group-vertical>.btn-tumblr:first-child:not(:last-child):focus,.btn-group-vertical>.btn-tumblr:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-tumblr:focus,.btn-group-vertical>.btn-tumblr:first-child:not(:last-child):active,.btn-group-vertical>.btn-tumblr:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-tumblr:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-tumblr,.input-group-btn .btn-tumblr,.input-group-btn.open .btn-tumblr,.input-group-btn .open .dropdown-toggle.btn-tumblr {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active {
  background-color: #32506d;
  border-color: #32506d
}

.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border-color: #517fa4;
  text-shadow: 0 -1px 0 #406582
}

.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram {
  color: #fff;
  background-color: #5f8cb0;
  border-color: #5f8cb0
}

.btn-group-vertical>.btn-instagram:first-child:not(:last-child),.btn-group-vertical>.btn-instagram:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-instagram,.btn-group-vertical>.btn-instagram:first-child:not(:last-child):hover,.btn-group-vertical>.btn-instagram:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-instagram:hover,.btn-group-vertical>.btn-instagram:first-child:not(:last-child):focus,.btn-group-vertical>.btn-instagram:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-instagram:focus,.btn-group-vertical>.btn-instagram:first-child:not(:last-child):active,.btn-group-vertical>.btn-instagram:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-instagram:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-instagram,.input-group-btn .btn-instagram,.input-group-btn.open .btn-instagram,.input-group-btn .open .dropdown-toggle.btn-instagram {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active {
  background-color: #517fa4;
  border-color: #517fa4
}

.btn-flickr {
  color: #fff;
  background-color: #ff0084;
  border-color: #ff0084;
  text-shadow: 0 -1px 0 #cc006a
}

.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr {
  color: #fff;
  background-color: #ff1a90;
  border-color: #ff1a90
}

.btn-group-vertical>.btn-flickr:first-child:not(:last-child),.btn-group-vertical>.btn-flickr:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-flickr,.btn-group-vertical>.btn-flickr:first-child:not(:last-child):hover,.btn-group-vertical>.btn-flickr:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-flickr:hover,.btn-group-vertical>.btn-flickr:first-child:not(:last-child):focus,.btn-group-vertical>.btn-flickr:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-flickr:focus,.btn-group-vertical>.btn-flickr:first-child:not(:last-child):active,.btn-group-vertical>.btn-flickr:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-flickr:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-flickr,.input-group-btn .btn-flickr,.input-group-btn.open .btn-flickr,.input-group-btn .open .dropdown-toggle.btn-flickr {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active {
  background-color: #ff0084;
  border-color: #ff0084
}

.btn-dribbble {
  color: #fff;
  background-color: #ea4c89;
  border-color: #ea4c89;
  text-shadow: 0 -1px 0 #e51e6b
}

.btn-dribbble:hover,.btn-dribbble:focus,.btn-dribbble:active,.btn-dribbble.active,.open .dropdown-toggle.btn-dribbble {
  color: #fff;
  background-color: #ed6398;
  border-color: #ed6398
}

.btn-group-vertical>.btn-dribbble:first-child:not(:last-child),.btn-group-vertical>.btn-dribbble:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-dribbble,.btn-group-vertical>.btn-dribbble:first-child:not(:last-child):hover,.btn-group-vertical>.btn-dribbble:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-dribbble:hover,.btn-group-vertical>.btn-dribbble:first-child:not(:last-child):focus,.btn-group-vertical>.btn-dribbble:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-dribbble:focus,.btn-group-vertical>.btn-dribbble:first-child:not(:last-child):active,.btn-group-vertical>.btn-dribbble:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-dribbble:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-dribbble,.input-group-btn .btn-dribbble,.input-group-btn.open .btn-dribbble,.input-group-btn .open .dropdown-toggle.btn-dribbble {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-dribbble.disabled,.btn-dribbble[disabled],fieldset[disabled] .btn-dribbble,.btn-dribbble.disabled:hover,.btn-dribbble[disabled]:hover,fieldset[disabled] .btn-dribbble:hover,.btn-dribbble.disabled:focus,.btn-dribbble[disabled]:focus,fieldset[disabled] .btn-dribbble:focus,.btn-dribbble.disabled:active,.btn-dribbble[disabled]:active,fieldset[disabled] .btn-dribbble:active,.btn-dribbble.disabled.active,.btn-dribbble[disabled].active,fieldset[disabled] .btn-dribbble.active {
  background-color: #ea4c89;
  border-color: #ea4c89
}

.btn-foursquare {
  color: #fff;
  background-color: #0072b1;
  border-color: #0072b1;
  text-shadow: 0 -1px 0 #00517e
}

.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare {
  color: #fff;
  background-color: #0082cb;
  border-color: #0082cb
}

.btn-group-vertical>.btn-foursquare:first-child:not(:last-child),.btn-group-vertical>.btn-foursquare:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-foursquare,.btn-group-vertical>.btn-foursquare:first-child:not(:last-child):hover,.btn-group-vertical>.btn-foursquare:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-foursquare:hover,.btn-group-vertical>.btn-foursquare:first-child:not(:last-child):focus,.btn-group-vertical>.btn-foursquare:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-foursquare:focus,.btn-group-vertical>.btn-foursquare:first-child:not(:last-child):active,.btn-group-vertical>.btn-foursquare:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-foursquare:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-foursquare,.input-group-btn .btn-foursquare,.input-group-btn.open .btn-foursquare,.input-group-btn .open .dropdown-toggle.btn-foursquare {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active {
  background-color: #0072b1;
  border-color: #0072b1
}

.btn-vk {
  color: #fff;
  background-color: #45668e;
  border-color: #45668e;
  text-shadow: 0 -1px 0 #344d6c
}

.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk {
  color: #fff;
  background-color: #4d729f;
  border-color: #4d729f
}

.btn-group-vertical>.btn-vk:first-child:not(:last-child),.btn-group-vertical>.btn-vk:not(:first-child):not(:last-child),.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vk,.btn-group-vertical>.btn-vk:first-child:not(:last-child):hover,.btn-group-vertical>.btn-vk:not(:first-child):not(:last-child):hover,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vk:hover,.btn-group-vertical>.btn-vk:first-child:not(:last-child):focus,.btn-group-vertical>.btn-vk:not(:first-child):not(:last-child):focus,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vk:focus,.btn-group-vertical>.btn-vk:first-child:not(:last-child):active,.btn-group-vertical>.btn-vk:not(:first-child):not(:last-child):active,.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn-vk:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.navbar .btn-vk,.input-group-btn .btn-vk,.input-group-btn.open .btn-vk,.input-group-btn .open .dropdown-toggle.btn-vk {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active {
  background-color: #45668e;
  border-color: #45668e
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0
}

a.thumbnail {
  padding: 5px
}

a.thumbnail:hover,a.thumbnail:focus {
  border-color: $main_color
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 6px 2px rgba(189,195,199,0.15);
  -moz-box-shadow: 0 0 6px 2px rgba(189,195,199,0.15);
  box-shadow: 0 0 6px 2px rgba(189,195,199,0.15)
}

.thumbnail>a {
  display: block;
  z-index: 999
}

.thumbnail>a .thumbnail-category {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5em 1em;
  background: #333;
  color: #fff;
  font-size: .8em;
  text-transform: uppercase
}

.thumbnail .overlay-container {
  position: relative
}

.thumbnail .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em 2em 0;
  background: rgba(51,51,51,0.85);
  z-index: 100;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=100)
}

.thumbnail .overlay-content,.thumbnail .overlay-content p,.thumbnail .overlay-content h1,.thumbnail .overlay-content .h1,.thumbnail .overlay-content h2,.thumbnail .overlay-content .h2,.thumbnail .overlay-content h3,.thumbnail .overlay-content .h3,.thumbnail .overlay-content h4,.thumbnail .overlay-content .h4,.thumbnail .overlay-content h5,.thumbnail .overlay-content .h5,.thumbnail .overlay-content h6,.thumbnail .overlay-content .h6 {
  color: #fff
}

.thumbnail .overlay-content .headline:after {
  background: #fff
}

.thumbnail:hover .overlay-content,.thumbnail:focus .overlay-content {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100)
}

.thumbnail .caption {
  padding: 1em
}

.thumbnail .caption :last-child {
  margin-bottom: 0
}

.thumbnail .caption h1 a,.thumbnail .caption .h1 a,.thumbnail .caption h2 a,.thumbnail .caption .h2 a,.thumbnail .caption h3 a,.thumbnail .caption .h3 a,.thumbnail .caption h4 a,.thumbnail .caption .h4 a,.thumbnail .caption h5 a,.thumbnail .caption .h5 a,.thumbnail .caption h6 a,.thumbnail .caption .h6 a {
  color: #2f353e
}

.thumbnail .caption h1 a:hover,.thumbnail .caption .h1 a:hover,.thumbnail .caption h2 a:hover,.thumbnail .caption .h2 a:hover,.thumbnail .caption h3 a:hover,.thumbnail .caption .h3 a:hover,.thumbnail .caption h4 a:hover,.thumbnail .caption .h4 a:hover,.thumbnail .caption h5 a:hover,.thumbnail .caption .h5 a:hover,.thumbnail .caption h6 a:hover,.thumbnail .caption .h6 a:hover,.thumbnail .caption h1 a:focus,.thumbnail .caption .h1 a:focus,.thumbnail .caption h2 a:focus,.thumbnail .caption .h2 a:focus,.thumbnail .caption h3 a:focus,.thumbnail .caption .h3 a:focus,.thumbnail .caption h4 a:focus,.thumbnail .caption .h4 a:focus,.thumbnail .caption h5 a:focus,.thumbnail .caption .h5 a:focus,.thumbnail .caption h6 a:focus,.thumbnail .caption .h6 a:focus {
  color: $main_color
}

.thumbnail .thumbnail-meta {
  padding: 1em;
  border-top: 1px solid #c2c2c2;
  font-size: 85%;

  &:last-child {
    margin-bottom: 0
  }

  .btn {
    padding: 0;
  }
}

.thumbnail img:not(.sash) {
	width:100%;
}

.thumbnail>img,.thumbnail>a img,.overlay-container>img {
  display: block;
  max-width: 100%;
  height: auto
}

.thumbnail-frameless {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.thumbnail-frameless .caption {
  padding: 1em 0
}

.alert-success {
  background-color: #9fd757;
  border-color: #93d242;
  color: #087830
}

.alert-success hr {
  border-top-color: #87cb30
}

.alert-success .alert-link {
  color: #05481d
}

.alert-info {
  background-color: #55bfe6;
  border-color: #3fb7e3;
  color: #17335b
}

.alert-info hr {
  border-top-color: #29aedf
}

.alert-info .alert-link {
  color: #0d1c32
}

.alert-warning {
  background-color: #fbea86;
  border-color: #fae66d;
  color: #c50
}

.alert-warning hr {
  border-top-color: #f9e155
}

.alert-warning .alert-link {
  color: #994000
}

.alert-danger {
  background-color: #fcc8c8;
  border-color: #fbb0b0;
  color: #dc143c
}

.alert-danger hr {
  border-top-color: #f99898
}

.alert-danger .alert-link {
  color: #ad102f
}

img.media-object {
  border: 1px solid #b5b5b5;
  padding: 4px
}

.panel {
  color: #454c54;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 1px
}

.panel-group .panel {
  border-radius: 0
}

.panel-footer {
  border-top: 1px solid #b5b5b5;
  background-color: #e8e8e8
}

.panel-default {
  border-color: #b5b5b5
}

.panel-default>.panel-heading {
  background-color: #e8e8e8;
  border-color: #b5b5b5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-default>.panel-heading,.panel-default>.panel-heading .panel-title {
  color: #454c54
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #b5b5b5
}

.panel-default>.panel-heading>.dropdown .caret {
  border-color: #454c54 transparent
}

.panel-default>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #b5b5b5
}

.panel-secondary {
  border-color: #333
}

.panel-secondary>.panel-heading {
  background-color: #333;
  border-color: #333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-secondary>.panel-heading,.panel-secondary>.panel-heading .panel-title {
  color: #fff
}

.panel-secondary>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #333
}

.panel-secondary>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-secondary>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #333
}

.panel-primary {
  border-color: $main_color
}

.panel-primary>.panel-heading {
  background-color: $main_color;
  border-color: $main_color;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-primary>.panel-heading,.panel-primary>.panel-heading .panel-title {
  color: #fff
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
  border-top-color: $main_color
}

.panel-primary>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: $main_color
}

.panel-success {
  border-color: #9bc23c
}

.panel-success>.panel-heading {
  background-color: #9bc23c;
  border-color: #9bc23c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-success>.panel-heading,.panel-success>.panel-heading .panel-title {
  color: #fff
}

.panel-success>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #9bc23c
}

.panel-success>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-success>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #9bc23c
}

.panel-warning {
  border-color: #ffbc46
}

.panel-warning>.panel-heading {
  background-color: #ffbc46;
  border-color: #ffbc46;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-warning>.panel-heading,.panel-warning>.panel-heading .panel-title {
  color: #fff
}

.panel-warning>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #ffbc46
}

.panel-warning>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-warning>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #ffbc46
}

.panel-danger {
  border-color: #c0392b
}

.panel-danger>.panel-heading {
  background-color: #c0392b;
  border-color: #c0392b;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-danger>.panel-heading,.panel-danger>.panel-heading .panel-title {
  color: #fff
}

.panel-danger>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #c0392b
}

.panel-danger>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-danger>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #c0392b
}

.panel-info {
  border-color: #37a0c2
}

.panel-info>.panel-heading {
  background-color: #37a0c2;
  border-color: #37a0c2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.panel-info>.panel-heading,.panel-info>.panel-heading .panel-title {
  color: #fff
}

.panel-info>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #37a0c2
}

.panel-info>.panel-heading>.dropdown .caret {
  border-color: #fff transparent
}

.panel-info>.panel-footer+.panel-collapse .panel-body {
  border-bottom-color: #37a0c2
}

.list-group-item {
  background-color: #fff;
  border: 1px solid #b5b5b5
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

a.list-group-item {
  color: $main_color
}

a.list-group-item .list-group-item-heading {
  color: #2f353e
}

a.list-group-item:hover,a.list-group-item:focus {
  text-decoration: none;
  background-color: #e8e8e8
}

a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus {
  color: #fff;
  background-color: #333;
  border-color: #333
}

a.list-group-item.active .list-group-item-heading,a.list-group-item.active:hover .list-group-item-heading,a.list-group-item.active:focus .list-group-item-heading {
  color: inherit
}

a.list-group-item.active .list-group-item-text,a.list-group-item.active:hover .list-group-item-text,a.list-group-item.active:focus .list-group-item-text {
  color: #999
}

.widget {
  margin-bottom: 2em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.widget:before,.widget:after {
  content: " ";
  display: table
}

.widget:after {
  clear: both
}

.widget-dashed {
  border-width: 1px;
  border-style: dashed;
  border-color: inherit
}

.well {
  background: #e8e8e8;
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.well p {
  color: #454c54
}

.well hr {
  border-top: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  -moz-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff
}

.footer-container {
  color: #e8e8e8
}

.footer-container h1,.footer-container h2,.footer-container h3,.footer-container h4,.footer-container h5,.footer-container h6 {
  color: #fff
}

.footer-container a:hover,.footer-container a:focus {
  color: #fff;
  text-decoration: none
}

.footer-primary {
  padding: 5em 0;
  background: #333;

  .white-links a {
    color: #e8e8e8;

    &:hover, &:focus {
      color: $main_color;
    }
  }

  img.logo {
    padding-bottom: 20px;
  }
}

.footer-secondary {
  padding: 2em 0;
  background: #262626
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #1a1a1a;
  border: 1px solid rgba(26,26,26,0.9);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px #1a1a1a;
  -moz-box-shadow: 0 3px 9px #1a1a1a;
  box-shadow: 0 3px 9px #1a1a1a;
  background-clip: padding-box;
  outline: 0
}

.modal-backdrop {
  background-color: #333
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=100)
}

.modal-backdrop.in {
  opacity: .9;
  filter: alpha(opacity=100)
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
  margin-top: -2px
}

.modal-body {
  position: relative;
  padding: 20px
}

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0
}

.tags {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none
}

.tags:before,.tags:after {
  content: " ";
  display: table
}

.tags:after {
  clear: both
}

.tags li {
  display: inline-block;
  float: left;
  margin: 0 .4em .4em 0
}

.tags li span {
  margin-right: 5px
}

.text-center .tags li {
  float: none
}

.text-right .tags li {
  float: right
}

.tags li a {
  display: inline-block;
  padding: 6px 12px;
  background: #4d4d4d;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.tags li a:hover,.tags li a:focus {
  background: $main_color
}

.tags .active a {
  background: $main_color
}

.form-control {
  color: #454c54;
  border-width: 1px;
  border-color: #b5b5b5;
  border-radius: 0
}

.form-control:focus {
  border-color: $main_color;
  outline: 0;
  -webkit-box-shadow: 0 0 2px 2px rgba(22,160,133,0.2);
  -moz-box-shadow: 0 0 2px 2px rgba(22,160,133,0.2);
  box-shadow: 0 0 2px 2px rgba(22,160,133,0.2)
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
  background-color: #e8e8e8
}

.group-has-icon {
  position: relative
}

.group-has-icon input {
  padding-left: 2em
}

.group-has-icon input.input-lg {
  padding-left: 2.5em
}

.group-has-icon i {
  position: absolute;
  display: block;
  font-family: 'FontAwesome';
  color: #818c98;
  z-index: 100
}

.group-has-icon input+i {
  top: .55em;
  left: .55em
}

.group-has-icon input.input-lg+i {
  top: .25em;
  left: .25em;
  font-size: 2em
}

.has-warning .help-block,.has-warning .control-label {
  color: #ffbc46
}

.has-warning .form-control {
  border-color: #ffbc46;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-warning .form-control:focus {
  border-color: #ffaa13;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ffe1ac;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ffe1ac;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ffe1ac
}

.has-warning .input-group-addon {
  color: #ffbc46;
  border-color: #ffbc46;
  background-color: #fbea86
}

.has-error .help-block,.has-error .control-label {
  color: #dc143c
}

.has-error .form-control {
  border-color: #dc143c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-error .form-control:focus {
  border-color: #ad102f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f16581;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f16581;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f16581
}

.has-error .input-group-addon {
  color: #dc143c;
  border-color: #dc143c;
  background-color: #fcc8c8
}

.has-success .help-block,.has-success .control-label {
  color: #9bc23c
}

.has-success .form-control {
  border-color: #9bc23c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-success .form-control:focus {
  border-color: #7c9b30;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c3db89;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c3db89;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c3db89
}

.has-success .input-group-addon {
  color: #9bc23c;
  border-color: #9bc23c;
  background-color: #9fd757
}

.popover {
  padding: 0;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.popover-title {
  color: #2f353e;
  background-color: #e8e8e8;
  border-bottom: 1px solid #dbdbdb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.tooltip-inner {
  padding: 6px 9px;
  background-color: #000;
  border-radius: 0
}

.progress {
  height: 30px;
  background-color: #bdc3c7;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px #949da4;
  -moz-box-shadow: inset 0 1px 2px #949da4;
  box-shadow: inset 0 1px 2px #949da4
}

.progress-bar {
  color: #fff;
  background-color: $main_color;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width .6s ease;
  -moz-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease
}

.progress-bar-success {
  background-color: #9bc23c
}

.progress-bar-info {
  background-color: #37a0c2
}

.progress-bar-warning {
  background-color: #ffbc46
}

.progress-bar-danger {
  background-color: #c0392b
}

.post {
  margin-bottom: 4em
}

.post:before,.post:after {
  content: " ";
  display: table
}

.post:after {
  clear: both
}

.post-heading,.post-heading a {
  color: #2f353e
}

.post-heading:hover,.post-heading a:hover,.post-heading:focus,.post-heading a:focus {
  text-decoration: none
}

.post-cover {
  margin-bottom: 1em;
  display: block;
  max-width: 100%;
  height: auto
}

.frameless {
  border: 0
}

.plan {
  background: #fff;
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  margin-bottom: 15px;
  text-align: center
}

.plan .plan-header {
  padding: 1.5em 2em;
  background: #262626;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.plan .plan-header h3 {
  color: #fff
}

.plan .plan-description {
  padding: 20px;
  color: #fff;
  background: #333
}

.plan .plan-price h1 {
  font-size: 60px;
  line-height: 100%;
  padding: 20px
}

.plan .plan-price h1 small {
  font-size: 14px
}

.plan .plan-features {
  list-style: none;
  padding: 0
}

.plan .plan-features li {
  padding: 10px 20px;
  border-bottom: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 1px 0 0 #f5f5f5;
  -moz-box-shadow: 0 1px 0 0 #f5f5f5;
  box-shadow: 0 1px 0 0 #f5f5f5
}

.plan .plan-cta {
  padding: 20px
}

.plan.plan-featured .plan-header {
  background: $main_color
}

.plan.plan-featured .plan-description {
  background: $hover_color;
}

.plan.plan-featured .plan-description>p {
  color: #fff
}

.headline a {
  color: #fff;

  &:hover {
    color: #ddd;
  }
}


.property-thumb {
  .photo {
    display: block;
    max-width: 100%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.post .sash, .property-thumb .sash {
  position: absolute;
  right: 0;
  top: 0;
}

.reviews {
  p {
    padding-bottom: 10px;
  }

  .normal-weight {
    font-weight: normal;
  }
}